.header {
  position: fixed;
  height: 90px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.3 ease-in;
  overflow: hidden;
  background-color: transparent;
}

.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  margin: auto;
  height: 100%;
  padding: 0 1rem;
}

.navbar .nav-menu a {
  color: var(--light-grey);
  list-style-type: none;
  font-size: 18px;
}

.header .navbar img {
  width: 100%;
  height: auto;
}

.header .nav-menu {
  display: flex;
}

.header .nav-item {
  padding: 1rem;
  font-weight: 300;
}

.header .nav-item a:hover {
  padding-bottom: 5px;
  border-bottom: 3px solid var(--red-color);
  transition: all ease 0.3s;
}

.hamburger {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 940px) {
  .header {
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .header .navbar {
    max-width: 100%;
  }
  .hamburger {
    display: block;
  }
  .nav-menu {
    position: fixed;
    left: 100%;
    top: 90px;
    flex-direction: column;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 70vh;
    z-index: 999;
    text-align: center;
    transition: 0.3s;
  }

  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 1rem 0;
  }
  .header .navbar img {
    width: 100px;
  }
}
